.App{
  text-align: center;
}
.head{
  display: flex;
  width: 80%;
  margin: 20px auto;
  border: 1px solid burlywood;
}
.head .name{
  width: 50%;
  padding:10px;
  margin: 0 auto;
}
.cardList{
  width: 80%;
  margin: 0 auto;
  padding: 30px 0px;
  margin-bottom: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content:flex-start ;
  border:solid 1px burlywood
}
.card{
  width: 20%;
  position: relative;
  text-align: left;
  margin:10px;
  height: 182px;
  cursor: pointer;
  display: flex;
  transform-style: preserve-3d;
  transition:transform 2s;
}
.cardFront{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  z-index: 2;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.cardBack{
  position: absolute;
  font-size: 140px;
  color: #fff;
  background-color: red;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
}
.active{
  transform: rotateY(180deg);
}
.start{
  position: absolute;
  width: 100%;
  height: 750px;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  z-index: 2;
  opacity: .9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.go{
  display: none
}